<div {{ attributes }} class="m-5">
    <input
        type="search"
        name="query"
        value="{{ query }}"
        data-action="live#update"
    >

    {% for blogpost in this.blogpost %}
        {{ component('blogpost', {id: blogpost.id }) }}
    {% endfor %}
</div>